html, body, form,h1,h2,h3,h4,h5,h6 { margin: 0; padding: 0; }

body{
	font-family: 'Comfortaa';
	font-size: 17px;
	overflow-x:hidden;
	position:relative;

	height:2000px;
}

h1{
	font-size:25px;
}
h2{
	font-size:20px;
}
h3{
	font-size:18px;
}
h4{
	font-size:17px;
}
h5{
	font-size:16px;}
h6{font-size:15px;}
p{font-size:14px;}

b{font-weight:700;}

hr{
	width:75%;
	border:2px solid;
	

}


