*{margin: 0; padding: 0; box-sizing:border-box;}
// html, body, form,h1,h2,h3,h4,h5,h6 { margin: 0; padding: 0;}

body{
	font-family: 'Comfortaa';
	font-size: 17px;
	overflow-x:hidden;
	position:relative;

}

h1{
	font-size:2rem;
	font-weight:700;
}
h2{
	font-size:1.7rem;
	font-weight:700;
}
h3{
	font-size:1.4rem;
	font-weight:700;
}
h4{
	font-size:1.1rem;
	font-weight:700;
}
h5{
	font-size:1.1rem;
	font-weight:300;
}
h6{
	font-size:1rem;
	font-weight:300;
}
p{
	font-size:1rem;
	line-height:1.5rem;
	font-weight:100;
}
a{
	cursor: pointer;
}
b{font-weight:700;}

hr{
	margin:1rem 0 0; 
	width:100%;
	border-width:1px;
}


