@mixin borderArrow{
  -webkit-border-radius: 50%;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius: 50%;
  -moz-border-radius-bottomright: 0px;
  border-radius: 50%;
  border-bottom-right-radius: 0px;
}
@mixin borderRadius($percentage){
  -webkit-border-radius: $percentage;
  -moz-border-radius: $percentage;
  border-radius: $percentage;
}

@mixin lightShadow($hShadow, $vShadow, $blur, $spread, $color){
  -webkit-box-shadow: #{$hShadow}px #{$vShadow}px #{$blur}px #{$spread}px $color;
  -moz-box-shadow:    #{$hShadow}px #{$vShadow}px #{$blur}px #{$spread}px $color;
  box-shadow:         #{$hShadow}px #{$vShadow}px #{$blur}px #{$spread}px $color;
}

@mixin scale($x, $y){
  -ms-transform: scale($x, $y); /* IE 9 */
  -webkit-transform: scale($x, $y); /* Safari */
  transform: scale($x, $y);
}


@mixin rotateZ($deg) {
	-ms-transform: rotateZ($deg); /* IE 9 */
  -webkit-transform: rotateZ($deg); /* Chrome, Safari, Opera */
  transform: rotateZ($deg);

  -ms-transform: rotate($deg); /* IE 9 */
  -ms-transform-origin: center; /* IE 9 */
  -webkit-transform: rotate($deg); /* Chrome, Safari, Opera */
  -webkit-transform-origin: center; /* Chrome, Safari, Opera */
  transform: rotate($deg);
  transform-origin: center;
}
@mixin skewY($deg){
  transform: skewY($deg);
  -webkit-transform: skewY($deg);
  -moz-transform: skewY($deg);
  -o-transform: skewY($deg);
}

@mixin flex($par){
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: $par;
  align-items: $par;
  -webkit-justify-content: $par;
  justify-content: $par;
}

@mixin media($breakpoint) { 
	@if map-has-key($breakpoints, $breakpoint) {
    	@media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      		@content;
		}
  	}
	@else {
	    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
    	    + "Please make sure it is defined in `$breakpoints` map.";
  	}
  	// @include media(phonePortrait) {};
  	// @include media(phoneLandscape) {};
  	// @include media(tabletPortrait) {};
  	// @include media(tabletLandscape) {};
  	// @include media(desktop) {};
  	// @include media(bigscreen) {};
}
@mixin spin{
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  
  @-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
      from { -webkit-transform: rotate(0deg); }
      to { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
      from {transform:rotate(0deg);}
      to {transform:rotate(360deg);}
  }
}

@mixin linearGradient($deg, $primary, $secondary){
    background: -webkit-linear-gradient($deg, $primary 50%, $secondary);
    background: -o-linear-gradient($deg, $primary 50%, $secondary); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($deg, $primary 50%, $secondary); /* For Firefox 3.6 to 15 */
    background: linear-gradient($deg, $primary 50%, $secondary); /* Standard syntax */
}