@mixin borderArrow{
  -webkit-border-radius: 50%;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius: 50%;
  -moz-border-radius-bottomright: 0px;
  border-radius: 50%;
  border-bottom-right-radius: 0px;
}
@mixin borderRadius($percentage){
  -webkit-border-radius: $percentage;
  -moz-border-radius: $percentage;
  border-radius: $percentage;
}

@mixin lightShadow{
  -webkit-box-shadow: 0px 3px 15px 3px $gray;
  -moz-box-shadow:    0px 3px 15px 3px $gray;
  box-shadow:         0px 3px 15px 3px $gray;
}
@mixin lightShadowZ{
  -webkit-box-shadow: 3px 3px 15px 3px $gray;
  -moz-box-shadow:    3px 3px 15px 3px $gray;
  box-shadow:         3px 3px 15px 3px $gray;
}

@mixin rotateZ($deg) {
	-ms-transform: rotateZ($deg); /* IE 9 */
    -webkit-transform: rotateZ($deg); /* Chrome, Safari, Opera */
    transform: rotateZ($deg);

    -ms-transform: rotate($deg); /* IE 9 */
    -ms-transform-origin: center; /* IE 9 */
    -webkit-transform: rotate($deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: center; /* Chrome, Safari, Opera */
    transform: rotate($deg);
    transform-origin: center;
}

@mixin flex($par){
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: $par;
  align-items: $par;
  -webkit-justify-content: $par;
  justify-content: $par;
}

@mixin media($breakpoint) { 
	@if map-has-key($breakpoints, $breakpoint) {
    	@media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      		@content;
		}
  	}
	@else {
	    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
    	    + "Please make sure it is defined in `$breakpoints` map.";
  	}
  	// @include media(phonePortrait) {};
  	// @include media(phoneLandscape) {};
  	// @include media(tabletPortrait) {};
  	// @include media(tabletLandscape) {};
  	// @include media(desktop) {};
  	// @include media(bigscreen) {};
}