
$blue: #35a;

$azure:#3aa;
$white:#fff;
$gray:#aaa;
$black:#111;

$rotationZ : 10;

$breakpoints: (
  phonePortrait: 0px,
  phoneLandscape: 480px,
  tabletPortrait: 768px,
  tabletLandscape: 1024px,
  desktop: 1366px,
  bigscreen: 1920px,
 );

.smallCircle{
  width:36px;
  height:36px;
  font-size: 0.75rem;
}
.bigCircle{
  width:100px;
  height:100px;
  font-size: 0.75rem;
  @include media(tabletPortrait){
    width:75px;
    height:75px;
  }
}

