body{
	background-color:lighten($azure,45%);

	&.menuVisible{
		overflow-y: hidden;
	}
}

header{
	position: fixed;
	top: 0;
	bottom: 0;
	left: -138px;
	padding-top: 0;
	background-color:rgba($blue,0.8);
	transition:left 0.3s ease-in-out;
	z-index:50;

	&.menuVisible{
		left:0;
	}
}

aside{
	position: fixed;
	top: 0;
	right: 0;
	height:100%;
	width: 5%;

}

footer{
	color:$white;
	background-color:$azure;
	width:100%;
	bottom:0;
	text-align:center;
	z-index:-10;
	padding-top:4rem;
	@include media(tabletPortrait){
		position:fixed;
	}
	@include media(desktop){
		padding-top:10rem;
	}
	&.menuVisible{
		position:static;
	}
}

#content{
	transition:all 0.3s ease-in-out;
	&.menuVisible{
		margin-top: 10%;
		overflow-y: scroll;
		transform: scale(0.75);
		transform-origin: top right;
		@include lightShadow(5, 5, 15, 5, $gray);
	}

}

.mainSection{
	width: 100%;
	margin:0 auto 0vh;
	@include media(tabletPortrait){
		margin:0 auto 75vh;
	}
	@include media(tabletLandscape){
		margin:0 auto 135vh;
	}
	@include media(desktop){
		margin:0 auto 120vh;
	}
	@include media(bigscreen){
		margin:0 auto 90vh;
	}
	&.menuVisible{
		margin-bottom: 0;

	}	
}

.oneThird{
	position:relative;
	margin:0rem auto 0rem;
	padding-top:5rem;
	overflow:hidden;
	
	&--big{
		display: block;
		margin:0 auto;
		width: 75%;
		
		&--content{
			text-align: justify;
			h3{
				margin-bottom:1rem; 
			}
			img{
				width: 100%;
				margin: 1rem auto;
			}
		}
		
		@include media(tabletPortrait) {
			display: inline-block;
			width: 66%;
			float: left;
			
			&--content{
				text-align: left;
				width: 66%;
				margin: 0 auto;
				hr{text-align: left;}
			}
		}
	}
	&--small{
		display: block;
		margin:0 auto ;
		width: 75%;
		
		@include media(tabletPortrait) {	
			display: inline-block;
			width: 33%;
			float: left;
			
		}
	}

}

.twoThird{
	margin:0rem auto 0rem;
	padding-top:2rem;


	overflow:hidden;
	
	&--small{
		display: block;
		margin:0 auto;
		width: 75%;
		
		@include media(tabletPortrait) {
			display: inline-block;
			width: 33%;
			text-align: center;
			float: left;
		}	
		&-content{
	
			@include media(tabletPortrait) {
				width: 200px;
				height: auto;
				margin: 0 auto;
				
			}
		}
	}
	&--big{
		display: block;
		margin:3rem auto;
		width: 75%;
		
		@include media(tabletPortrait) {
			display: inline-block;
			width: 66%;
			margin:0rem auto;
			float: left;
		}

		&-content{
			@include media(tabletPortrait) {
				width: 90%;
				margin: 0 auto;
			}
		}	
	}
}

.fullWidth{
	margin:0rem auto ;
	padding:2rem 0;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:flex-start;
	
	@include media(tabletPortrait) {	
		flex-wrap:nowrap;
		width:75%;
		justify-content:space-between;
	}
	@include media(tabletLandscape) {	
		width:66%;
	}
	
	&--content{
		width: 75%;
		text-align:center;
		
	}
}

.sectionCenter{
	padding-top:2rem;
	padding-bottom:2rem;
	text-align:center;
	width:100%;
	&--content{
		display: block;
		margin:0 auto;
		width: 75%;
		text-align: center;


	}
}

.rotatedDivHome{
	z-index:-1;
	margin: -10rem auto 2rem -10rem;
	width:150%;
	height:250px;
	@include rotateZ(-10deg);
	background-color:$blue;
}

.detail--page{
	&:after{
		background-color:$white;
	}
	&-index{
		ul{
			list-style-type: none;
			ul{
				padding-left:5rem;
			}
			a{
				color:$azure;
				text-decoration: none;
			}
		}
	}
	table{
		width: 100%;
		border:1px solid $white;
		color: $white;
		th{
			padding:0.3rem;
			background-color:$blue;
			text-transform: capitalize;
		}
		td{
			padding:0.3rem;
			color: $blue;
			background-color:$gray;
		}
	}
	
	.gist{
		cursor: pointer;
		
		pre {
		  	padding: 20px;
		  	color: $white !important;

		}	

		.highlight{
			background: #1a1a1a  !important; 
		}	

		.line-data,  .file-data,  .line-numbers {
		  	color: $white !important;
		  	background: #222  !important; 
	  	}
		
		.gist-meta {
		  	color: $blue !important;
		  	background: $white !important;
		}
		
		.blob-code-inner{
			font-family: 'Ubuntu mono' !important;
		}
		
		.blob-num	{
	  		color: #6a737d !important; 
	  	}
	  	
	  	.blob-code	{						// tags and symbols
	  		color: $white !important; 
	  	}

		.pl-vo,  .pl-v,  .pl-vpf { 			
		  	color: $white !important; 
	  	}
	  	
	  	.pl-s3 {					
		  	color: $white !important; 
	  	}
		.pl-c{
			font-family: 'Comfortaa' !important;	
			font-style: italic;

		}
		.pl-c1{								//entities and css values
		  	color: $success !important; 
	  	}
	  	
	  	.pl-st {		
			color: $white !important; 
		}
		
		.pl-k{								//css em px ecc
			color: $white !important; 
		}
		
		.pl-pds {							// '' and ""
		  	color: $blue !important; 
	  	}
		
		.pl-s1 {					//
		  	color: $white !important; 
	  	}
	  	
	  	.pl-ent{							//html tags
	  		color: $danger !important; 	
	  	}
	  	
	  	.pl-e{								// html attributes
	  		color: $azure !important; 	
	  	}
	  	
	  	.pl-en{
	  		color: $white !important; 	
	  	}
	  	
	  	.pl-s, .pl-s .pl-pse .pl-s1, .pl-sr, .pl-sr .pl-cce, .pl-sr .pl-sre, .pl-sr .pl-sra{
	  		color: $warning !important; 	
	  	}
	}	

	.syntaxhighlighter{
		@include borderRadius(3px);
	}
	.syntaxhighlighter a, .syntaxhighlighter div, .syntaxhighlighter code, .syntaxhighlighter table, .syntaxhighlighter table td, .syntaxhighlighter table tr, .syntaxhighlighter table tbody, .syntaxhighlighter table thead, .syntaxhighlighter table caption, .syntaxhighlighter textarea{
		line-height: 2rem !important;
	}
	.syntaxhighlighter .line.alt1{
		background-color: #0E0C58 !important;
	}
	.syntaxhighlighter .line.alt2{
		background-color: #0E1C68 !important;
	}
	
	
}
.detail--page + .skewed{
	&:after{
		background-color:$blue;
	}
}

