// background
.bg-blue{
	background-color:$blue;	
}
.bg-white{
	background-color:$white;	
}
.bg-azure{
	background-color:$azure;	
}
.bg-gray{
	background-color:$gray;	
}
// border
.border-blue{
	border-color:$blue;
}
.border-white{
	border-color:$white;
}


// color
.c-azure{
	color:$azure;
}
.c-blue{
	color:$blue;
}
.c-white{
	color:$white;
}
.c-gray{
	color:$gray;
}

//clearfix
.clearfix{
	&:after{
		content: '';
		display: block;
		clear: both;
	}
}

// display
.d-block{
	display:block;
}
.d-inline{
	display:inline;
}

// float
.f-right{
	float:right;
}

// margin
.mt-1{
	margin-top:1rem;
}
.mt-5{
	margin-top:5rem;
}

.mb-1{
	margin-bottom:1rem;
}
.mb-50{
	margin-bottom:50rem;
}

.my-1{
	margin-top:1rem;
	margin-bottom:1rem;
}

.Nmt-10{
	margin-top:-10rem;
}

// padding
.p-3{
	padding:3rem;
}
.pt-1{
	padding-top:1rem;
}
.pt-5{
	padding-top:5rem;
}
.pt-10{
	padding-top:10rem;
}
.pt-15{
	padding-top:15rem;
}

.pb-1{
	padding-bottom:1rem;
}
.pb-2{
	padding-bottom:2rem;
}
.pb-3{
	padding-bottom:3rem;
}
.pb-4{
	padding-bottom:4rem;
}
.pb-5{
	padding-bottom:5rem;
}

.py-3{
	padding-top:3rem;
	padding-bottom:3rem;
}



// text alignment
.text-center{
	text-align:center;
}





