.about--section{
	color:$blue;

	&-content{
		@include media(phonePortrait) {
			margin:5rem auto 0;
			width: 75%;
		}
	}
	&-phasis{
		@include media(phonePortrait) {
			margin:5rem auto 0;
			width: 75%;
			text-align: center;
			
			&-logo{
				margin: 1rem auto;
				width: 100px;
				height: 100px;
				border-radius: 50%;
				background: $white; 	
				-webkit-box-shadow: 0px 5px 15px 5px #aaa;
				-moz-box-shadow:    0px 5px 15px 5px #aaa;
				box-shadow:         0px 5px 15px 5px #aaa;
			}
			
			&-logo{

			}
		}	
	}
	
}