.about--section{
	margin-top:100vh;
	color:$blue;
	 	
	&-phasis{
		@include media(phonePortrait) {
			&-logo{
				margin: 2rem auto;
				@include borderArrow;
				transform: rotateZ(45deg);
				background: $white; 	
				
				@include lightShadow(3, 3, 15, 3, $gray);
				i{
			 		transform: rotateZ(-45deg);
			 	}
			 	
			 	@include media(tabletPortrait){
			 		transform: rotateZ(-45deg);

			 		@include lightShadow(0, 3, 15, 3, $gray);
					@include borderArrow;
					i{
				 		transform: rotateZ(45deg);
				 	}
			 	}
			}
		}	
	}

	&-skills{
		&-logo{
			@include lightShadow(3, 3, 15, 3, $gray);
			@include borderRadius(50%);
			// &:after{
			// 	content: "";
			//     background-color: $blue;
			//     position: absolute;
			//     height: 10px;
			//     top:45%;
			//     width: 300px;
			// 	z-index: -1;	
			// }
		}
		// @include media(phonePortrait) {
			

		// 	.skill-1:after{
		// 	    width: 300px;
		// 	}	
		// 	.skill-2:after{
		// 	    width: 270px;
		// 	}
		// 	.skill-3:after{
		// 	    width: 70px;
		// 	}	
		// }	
	}
	
}