.about--section{
	color:$blue;

	&-content{
		@include media(phonePortrait) {
			margin:5rem auto 0;
			width: 75%;
		}
	}
	
	&-phasis{
		@include media(phonePortrait) {
			margin:5rem auto 0;
			width: 75%;
			text-align: center;

			&-logo{
				margin: 2rem auto;
				width: 100px;
				height: 100px;
				@include borderArrow;
				transform: rotateZ(45deg);
				background: $white; 	
				@include lightShadow;
				@include flex(center);
			 	i{
			 		transform: rotateZ(-45deg);
			 	}
			}
		}	
	}

	// &-skills{
	// 	@include media(phonePortrait) {
	// 		margin:5rem auto 0;
	// 		width: 75%;
	// 		text-align: center;
	// 		background: red;

	// 		&-logo{
	// 			margin: 2rem auto;
	// 			width: 100px;
	// 			height: 100px;
	// 			background: green;
	// 			// @include borderArrow;
	// 			// transform: rotateZ(45deg);
	// 			// background: $white; 	
	// 			// @include lightShadow;
	// 			// @include flex(center);
	// 		 // 	i{
	// 		 // 		transform: rotateZ(-45deg);
	// 		 // 	}
	// 		}
	// 	}		
	// }
	
}