@import 'hero';
@import 'homeAbout';
@import 'work';
@import 'homeTestimonial';
@import 'blog';
@import 'footer';
@import 'header';
@import 'sidebar';
@import 'form';
@import 'contact';
@import 'card';
@import 'pricing';
@import 'popup';





.flexCenter{
	@include flex(center);
}

.btn{
	text-decoration:none;
	text-transform: uppercase;	
	padding:0.3rem 1rem;
	font-size: 0.7rem;
	background-color:$white;
	color:$blue;
	border:1px solid $white;
	display:block;
	margin:1rem;
	text-align:center;
	font-weight:700;
	@include media(phoneLandscape){
		display:inline-block;
		margin:0rem;
	}

	&-ghost{
		text-decoration:none;
		background-color: transparent;
		color: $white;
	}
	&-cta{
		text-decoration:none;
		background-color:$white;
		color:$blue;
		padding:1rem 3rem;
		
		@include lightShadow(0, 3, 13, 3, rgba($black,0.3));
		transition: all 0.3s ease-in-out;
		
		&:hover{
			@include lightShadow(0, 10, 13, 3, rgba($black,0.2));
			@include scale(1.01,1.01);
		}
		&-success{
			background-color:$success;
			color:$white;
			padding:1rem 3rem;
			@include lightShadow(0, 3, 13, 3, rgba($black,0.3));
			transition: all 0.3s ease-in-out;
			
			&:hover{
				@include lightShadow(0, 10, 13, 3, rgba($black,0.2));
			}
		}
	}
}

.skewed{
	&:after{
		content: "";
		display: block;
		height: 150px;
		margin: 1rem auto -5rem; 
		
		@include skewY(-10deg);
		@include media(tabletPortrait){
			margin: 1rem auto -6rem; 
		}
		@include media(tabletLandscape){
			margin: 5rem auto -10rem;
			height: 260px; 
		}
		@include media(desktop){
			margin: 1rem auto -11rem;
			height: 315px; 
		}
		@include media(bigscreen){
			margin: 8rem auto -25rem;
			height: 570px; 
		}
	}
}


.alert{
	padding:1.5rem 2rem;
	margin:1rem auto;
	color:$white;
	text-align:right;
	position:relative;
	@include lightShadow(0, 3, 13, 3, rgba($black,0.3));
}


.alert-danger{
	background-color:$danger;
	&:before{
		content: "\f057";
		font-family: FontAwesome;
		display: inline-block;
		position: absolute;
		left: 1rem;
	}
}
.alert-warning{
	background-color:$warning;
	&:before{
		content: "\f06a";
		font-family: FontAwesome;
		display: inline-block;
		position: absolute;
		left: 1rem;
	}
}
.alert-success{
	background-color:$success;
	&:before{
		content: "\f058";
		font-family: FontAwesome;
		display: inline-block;
		position: absolute;
		left: 1rem;
	}
}
.alert-primary{
	background-color:$blue;
	&:before{
		content: "\f055";
		font-family: FontAwesome;
		display: inline-block;
		position: absolute;
		left: 1rem;
	}
}
.alert-info{
	background-color:$azure;
	&:before{
		content: "\f05a";
		font-family: FontAwesome;
		display: inline-block;
		position: absolute;
		left: 1rem;
	}
}

.smallCircle{
  width:36px;
  height:36px;
  font-size: 0.75rem;
  @include borderRadius(50%);
}

.mediumCircle{
  width:66px;
  height:66px;
  font-size: 0.75rem;
  @include borderRadius(50%);
}

.bigCircle{
  width:100px;
  height:100px;
  font-size: 0.75rem;
  @include borderRadius(50%);
  @include media(tabletPortrait){
    width:75px;
    height:75px;
  }
}
.hugeCircle{
  width:150px;
  height:150px;
  font-size: 0.75rem;
  @include borderRadius(50%);
  @include media(tabletPortrait){
    width:125px;
    height:125px;
  }
}

.clickable{

	@include lightShadow(0, 3, 13, 3, rgba($black,0.3));
	transition: transform 0.3s ease-in-out;
	cursor: pointer;

	&:hover{
		transform: translateY(-2px);
		@include lightShadow(0, 5, 13, 3, rgba($black,0.2));
	}

}

.commentPosts{
	margin-bottom: 2rem;

	em{
		font-size: 0.9rem;
		float: right;	
	}
	p{
		margin-top: 0.5rem;
		font-size: 0.9rem;
		line-height: 1rem;
	}
	hr{
		margin-top: 0.5rem;
	}
}