@import 'hero';
@import 'homeAbout';
@import 'homeWork';

.hamburger{
	display: block;
	margin: 4px auto;
	background-color: $white;
	width: 66%;
	height: 2px;
}

.scroll--balls{
	
	height: 25%;
	margin-top:100px;
	.scroll--ball{
		
		display:block;
		@include borderArrow;
		transform: rotate(45deg);
		margin:0.5rem auto;
		width:10px;
		height:10px;
		background-color: $white;
		border:1px solid $blue;
	}
	.scroll--ball.active{
		background-color: $azure;
	}
}

.flexCenter{
	@include flex(center);
}