.footer--section{
	#footerDescription{
		font-size: 0.7rem;
		line-height: 1rem;		
	}
	@include media(tabletPortrait){
		padding-top:15rem;
	}

	
	.footerForm{
		padding:0;
		@include media(tabletPortrait){
			padding:0 5rem;
		}
		input, textarea{
			color: $white;
			border-bottom: 2px solid $white;
			&::placeholder{
				color:$white;
			}

		}
		
		input[type=submit]{
			background-color:$white;
			color: $azure;
			width: 100%;
    		margin: 0;
    		@include media(tabletPortrait){
				width: auto;
    			margin: auto;
			}	
		}
	}

	&-social{
		position:relative;
		z-index: 1;
		.social-logo{
			@include lightShadow(0, 3, 5, 3, rgba($gray,0.3));
			@include borderRadius(50%);
			position:relative;
			background-color:$white;
			color: $azure;
			&:after{
				content: "";
			    background-color: $white;
			    position: absolute;
			    height: 5px;
			    top:45%;
			    left: 18px;
			    z-index: -1;	
			}
			& small{
				position: absolute;
				color: $white;
			    top: 0;
			    left: 3rem;
			    width: 6rem;
			    text-align: left;
			}
			@include media(tabletPortrait){
				margin: 1rem auto;
			}
		}
		@for $i from 1 through 10{
			#social-#{$i}:after{
				width: 250px;
				@include media(phoneLandscape){
					width: 440px;
				}
				@include media(tabletPortrait){
					width: 250px;
				}
			}		
		}
		@include media(tabletPortrait){
			@for $i from 1 through 10{
				@if $i % 2 == 0 { 
					#social-#{$i}:after{
						transform: rotate(180deg);
						transform-origin: left;
					}	
					#social-#{$i} small{
								left: -7rem;
								text-align: right;
							}
			  	}
			}
		}		
	}
		
	&-blog{
		padding: 0;
		ul{
			list-style-type:none;
			margin-bottom:1rem;
			li{
			/* 	margin:0.3rem auto; */
				&:first-child{
					font-weight: 700;
					font-size: 1rem;
					margin-bottom: 0.5rem;
				}
				a{
					font-size: 0.7rem;
					line-height: 1rem;
					color: $white;
				}
			}
		}
	}

	&-copyright{
		/* position:absolute;
		bottom:0;
		left:0;
		right: 0; */
		font-size: 0.7rem;
		padding: 0.3rem;
		background-color:darken($azure,10%);
	}
}
