.footer--section{
		
	@include media(tabletPortrait){
		padding-top:15rem;
	}

	
	.footerForm{
		padding:0 5rem;

		input, textarea{
			// outline: 0;
			color: $white;
			// width: 100%;
			// margin:0.7rem auto;
			// background-color:transparent;
			// border:0;
			border-bottom: 2px solid $white;
			&::placeholder{
				color:$white;
			}
		}
		
		input[type=submit]{
			// display: block;
			background-color:$white;
			color: $azure;
			// border:0;
			// @include media(tabletPortrait){
			// 	width: 200px;
			// 	float: right;
			// }

			
		}
	}

	&-social{
		position:relative;
		z-index: 1;
		.social-logo{
			@include lightShadow(0, 3, 5, 3, rgba($gray,0.5));
			@include borderRadius(50%);
			position:relative;
			background-color:$white;
			color: $azure;
			&:after{
				content: "";
			    background-color: $white;
			    position: absolute;
			    height: 5px;
			    top:45%;
			    left: 18px;
			    z-index: -1;	
			}
			@include media(tabletPortrait){
				margin: 1rem auto;
			}
		}
		@for $i from 1 through 10{
			#social-#{$i}:after{
				width: 250px;
				@include media(phoneLandscape){
					width: 340px;
				}
				@include media(tabletPortrait){
					width: 250px;
				}
			}		
		}
		@include media(tabletPortrait){
			@for $i from 1 through 10{
				@if $i % 2 == 0 { 
					#social-#{$i}:after{
						transform: rotate(180deg);
						transform-origin: left;
					}	
			  	}
			}
		}		
	}
		
	&-blog{
		ul{
			list-style-type:none;
			margin-bottom:1rem;
			li{
			/* 	margin:0.3rem auto; */
				&:first-child{
					font-weight: 700;
					font-size: 1rem;
				}
			}
		}
	}

	&-copyright{
		/* position:absolute;
		bottom:0;
		left:0;
		right: 0; */
		padding: 0.3rem;
		background-color:darken($azure,10%);
	}
}
