form{
	.form-control{
		position:relative;
		
		label{
			font-style:italic;
			font-weight: 100;
			font-size: 0.7rem;
			position: absolute;
			text-align: left;
			top: 1rem;
			left: 1rem;
			transition: all 0.3s ease-in-out;
			&:hover{
				cursor:pointer;
			}
		}

		input, textarea{
			font-family: Comfortaa;
			font-style:italic;
			font-weight: 100;
			font-size: 1rem;
			outline: 0;
			color: $blue;
			width: 100%;
			margin:0.7rem auto;
			background-color:transparent;
			border:0;
			border-bottom: 2px solid $blue;
			&:hover{
				cursor:pointer;
			}
		}

	}

	input[type=submit]{
		display: block;
		background-color:$blue;
		color: $white;
		border:0;
		@include media(tabletPortrait){
			width: 200px;
			float: right;
		}
	}

}
form.formContact{
	@include skewY(10deg);
	width:250px;
	margin:0 auto;
	color:$white;
	font-weight: 400;
	@include media(tabletPortrait){
		width:400px;
	}
	@include media(tabletLandscape){
		width:600px;
	}
	p{
		font-size: 1.5rem;
		line-height: 1.5rem;
		padding-top: 1.5rem;
		color:$white;
	}
	label{
		font-size: 1rem;
	}
	input, textarea{
		color: $white;
		border-bottom: 2px solid $white;
		font-size: 1.4rem;
		margin:0.7rem auto 0rem;	
	}
	input[type=submit]{
		background-color:$white;
		color: $blue;
		font-size: 1rem;
		@include media(tabletPortrait){
			width: 200px;
			float: left;
		}
	}
}
.newsLetter{
	background-color:$success;

	&-input[type='email']{
		border-bottom:2px solid $white;
	}

	img{
		@include borderRadius(3px)
		@include lightShadow(0, 3, 15, 3, rgba($black,0.3));
		
		@include media(phonePortrait){
			width:100%;
			margin-bottom:2rem;
		}
		@include media(phoneLandscape){
			width:50%;
			margin-bottom:1rem;
		}
		@include media(tabletPortrait){
			width:100%;
			margin-bottom:2rem;
		}
		@include media(tabletPortrait){
			width:50%;
			margin-bottom:2rem;
		}
	}
}


	

