form{
	.form-control{
		position:relative;
		
		label{
			font-style:italic;
			font-weight: 100;
			font-size: 0.7rem;
			position: absolute;
			text-align: left;
			top: 1rem;
			transition: all 0.3s ease-in-out;
		}

		input, textarea{
			font-family: Comfortaa;
			font-style:italic;
			font-weight: 100;
			font-size: 1rem;
			outline: 0;
			color: $blue;
			width: 100%;
			margin:0.7rem auto;
			background-color:transparent;
			border:0;
			border-bottom: 2px solid $blue;
			
			&::placeholder{
			}
		}
	}

	input[type=submit]{
		display: block;
		background-color:$blue;
		color: $white;
		border:0;
		@include media(tabletPortrait){
			width: 200px;
			float: right;
		}
	}
}