header{
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	
	.links, .hamburgerDiv{
		display:flex;
		flex-direction:column;
		justify-content:center;	
	}

	


	.hamburger{
		cursor: pointer;
		margin-right:-100px;
		@include skewY(-10deg);
		
		@for $i from 3 through 1{
			.hamburgerLine-#{$i}{
				display: block;
				margin: 4px auto;
				background-color: $white;
				height: 2px;
				// width: 50px - ($i*8);
				transition: all 0.3s ease-in-out;
				&.menuVisible{
					background-color: $blue;
				}
		    }
		}
		.hamburgerLine-1{
			width: 25px;
			&.menuVisible{
				transform: rotate(157deg);
			}
		}
		.hamburgerLine-2{
			width: 40px;
			&.menuVisible{
				transform: translate(8px,2px) rotate(10deg);
			}
		}
		.hamburgerLine-3{
			width: 25px;
			&.menuVisible{
				transform: rotate(-147deg);
			}
		}
	}
	
	nav{
		a{
			font-size: 0.7rem; 
			font-weight: 700;
			display: block;
			padding: 0.7rem 1rem;
			color:$white;
			text-decoration: none;
			text-transform: uppercase;
		}

	}	
}
