header{
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	
	.links, .hamburgerDiv{
		display:flex;
		flex-direction:column;
		justify-content:center;	
	}

	


	.hamburger{
		cursor: pointer;
		margin-right:-100px;
		@include skewY(-10deg);
		
		@for $i from 3 through 1{
			.hamburgerLine-#{$i}{
				display: block;
				margin: 4px auto;
				background-color: $white;
				height: 2px;
				width: 50px - ($i*8);
		    }
		}
	}
	
	nav{
		a{
			display: block;
			padding: 0.7rem 2rem;
			color:$blue;
		}

	}	
}
