.hero--section{
	margin: -5rem auto 0;
	width: 100%;  
	height: 100vh; 
	overflow: hidden;
	@include linearGradient(130deg, $azure, $blue);
	@include skewY(-10deg);
	@include media(tabletPortrait){
		@include linearGradient(140deg, $azure, $blue);
	}
	@include media(tabletLandscape){
		margin: -7rem auto 0;
		@include linearGradient(160deg, $azure, $blue);
	}
	@include media(desktop){
		margin: -10rem auto 0;
		@include linearGradient(170deg, $azure, $blue);
	}
	@include media(bigscreen){
		margin: -14rem auto 0;
		@include linearGradient(170deg, $azure, $blue);
	}
	
	&-content{
		margin:7rem auto 0;
	    @include skewY(10deg);
	    text-align: center;
	    color: $blue;
	    @include media(desktop){
			margin: 15rem;
		}
	    span{
	    	color:$white;
	    }
	}
	&-image{
		display: block;
		margin: 0 auto; 
		width: 90%;
		transform: skewY(10deg);
	}
						
}
