.hero--section{
	@include flex(center);
	margin: -5rem auto 0;
	width: 100%;  
	height: 100vh; 
	overflow: hidden;
	
	
 	
 	@include skewY(-10deg);
	@include media(tabletLandscape){
		margin: -7rem auto 0;
	}
	@include media(desktop){
		margin: -10rem auto 0;
	}
	@include media(bigscreen){
		margin: -14rem auto 0;
	}
	
	&:before {
	    content: "";
	    @include skewY(10deg);
	    background: linear-gradient(-50deg, #35a 15%, #3aa 70%), url("/img/heroBW.jpg");
		background-blend-mode: multiply;
		background-size:cover;
		background-position:center center;
	    background-repeat: no-repeat; 
	    background-attachment:fixed;


	    
		/* new styles */
	    position: absolute;
	    -webkit-transform-origin: center;
	    -ms-transform-origin: center;
	    transform-origin: center;
	    width: 100%; /* something ridiculously big */
	    height: 200vh; /* something ridiculously big */
}

	&-content{
		// margin:25rem auto 0;
	    @include skewY(10deg);
	    text-align: center;
	    color: $white;
	    @include media(desktop){
			margin: 15rem;
		}
	    span{
	    	color:$azure;
	    }
	}
						
}
