.blog--section{
	background-color:$blue;
	color: $white;
	padding-bottom:1rem;

	.card{
		// background-color:red;
		margin: 1rem auto;
		@include borderRadius(7px)
		overflow:hidden;
		@include lightShadow(0, 3, 15, 3, rgba($black,0.5));
		
		&--image{
			height: 150px;
			background-color:yellow;
			background-position:center;
			background-size:cover;
			padding:1.5rem;
			@include media(tabletPortrait){
				height: 200px;
			}
		}
		&--caption{
			padding:1.5rem;
			p{
				margin: 0.7rem 0;
			}
			em{
				font-size: 0.7rem;
				display:block;			
				margin-bottom:0.7rem; 
			}
			&-CatnDate{
				b, em{
					font-size: 0.7rem;
					display: inline-block;
					float: left;
				}
				em{
					float: right;	
					margin-bottom: 0;
					@include media(tabletPortrait){
						margin-bottom:0.7rem; 
					}


				}
			}
		}
	}
}