.about--section{
	margin-top:-5rem;
	padding-top:7rem;
	
	@include media(tabletLandscape){
		margin-top:-7rem;
		padding-top:11rem;
	}
	@include media(tabletLandscape){
		margin-top:-10rem;
		padding-top:17rem;
	}
	@include media(desktop){
		margin-top:-15rem;
		padding-top:27rem;
	}
	
	&-phasis{
		&Divs{
			opacity: 0;
			position:relative;
			transition: all 0.3s ease-in-out;
			top: -50px;	

			@include media(tabletPortrait){
				top: 0;	
				left: -50px;		
			}
		}
		&-logo{
			margin: 5rem auto 2rem;
			@include borderArrow;
			transform: rotateZ(45deg);
			background: $white; 	
			
			@include lightShadow(3, 3, 5, 3, $gray);
			i{
		 		transform: rotateZ(-45deg);
		 	}
		 	
		 	@include media(tabletPortrait){
		 		transform: rotateZ(-45deg);
		 		// margin: 4rem auto 1rem;
		 		@include lightShadow(-2, 3, 5, 3, $gray);
				@include borderArrow;
				i{
			 		transform: rotateZ(45deg);
			 	}
		 	}
		}
	}

	&-skills{
		position:relative;
		z-index: 1;	
		
		&-divs{
			opacity: 0;
			transition: all 0.3s ease-in-out;
			&-logo{
				@include lightShadow(0, 3, 5, 3, $gray);
				@include borderRadius(50%);
				position:relative;
				background-color:$white;
				@include media(tabletPortrait){
					margin: 1rem auto;
				}
				& small{
					position: absolute;
				    top: 0;
				    left: 3rem;
				    width: 6rem;
				    text-align: left;
				}
				& span{
				    background-color: $blue;
				    position: absolute;
				    height: 5px;
				    top:45%;
				    left: 18px;
				    z-index: -1;	
				    width: 0px;
				   	transition: width 3.3s ease-in-out;
				}				
				
				@include media(tabletPortrait){
					@for $i from 1 through 25{
						@if $i % 2 == 0 { 
							&#skill-#{$i} span{
								transform: rotate(180deg);
								transform-origin: left;
							}
							&#skill-#{$i} small{
								left: -7rem;
								text-align: right;
							}	
					  	}
					}
				}	

			}




		}
		
	}

		
	
}