.testimonials--container{
	width:2000px;
	position:relative;
	display: flex;
	flex-direction: row;
	flex-wrap:nowrap;
	justify-content:flex-start;
	align-item:center;
	align-content:center;
	transition: all 0.1s ease-in-out;

	@include media(tabletPortrait){
		display: block;
		width:auto;
		height: 390px;
		text-align: center;
	}

	& > div:first-child{
		margin-left: -4%;
		@include media(tabletPortrait){
			display: block;
			margin:2rem auto;
		}
	}
	&-photo{
		overflow: hidden;
		margin:auto 3rem;
		cursor: pointer;
		@include media(tabletPortrait){
			display: block;
			margin:5rem auto;
		}
		img{
			width: 200%;
			margin:-50%; 
		}
	}
	.photo-prev{
		overflow: hidden;
		@include borderArrow;
		@include rotateZ(-45deg);
		transition: all 0.3s ease-in-out;
		&:hover{
			@include lightShadow(-2, 3, 5, 3, $gray);
		}
		@include media(tabletPortrait){
			display: block;
			margin:2rem auto;
			@include rotateZ(45deg);
			&:hover{
				@include lightShadow(3, 3, 5, 3, $gray);
			}
		}
		img{
			@include rotateZ(45deg);
			@include media(tabletPortrait){
				@include rotateZ(-45deg);
			}
		}
	}
	.photo-active{
		overflow: hidden;
		width: 150px;
		height: 150px;
		margin:auto 1rem;
		@include media(tabletPortrait){
			display: block;
			margin:2rem auto;
		}
		img{
			margin: 1%;
			width: 100%;
			// @include media(tabletPortrait){
			// 	width: 100%;
			// }
		}
	}
	.photo-next{
		overflow: hidden;
		@include borderArrow;
		@include rotateZ(-225deg);
		transition: all 0.3s ease-in-out;
		&:hover{
			@include lightShadow(2, -2, 5, 3, $gray);
		}
		@include media(tabletPortrait){
			display: block;
			margin:2rem auto;
			@include rotateZ(225deg);
			&:hover{
				@include lightShadow(-3, -3, 5, 3, $gray);
			}
		}
		img{
			@include rotateZ(225deg);
			@include media(tabletPortrait){
				@include rotateZ(-225deg);
			}
		}
	}

}

.testimonials--quote{
	padding:0rem;
	text-align: justify;
	display: none;
	@include media(tabletPortrait){
		
		padding:5rem;
		text-align: left;
	}
	&.active{
		@include flex(center);
		flex-direction: column;
	}
	q{
		display: block;
		margin: 0.7rem 0;
		position: relative;
		&:before{
			position:absolute;
			top: -25px;
			left: -20px;
			font-size: 10rem;
			color: lighten($blue,30%);
			opacity: 0.5;
		}
		&:after{
			position:absolute;
			right: -5px;
			bottom: -135px;
			font-size: 10rem;
			color: lighten($blue,30%);
			opacity: 0.5;
		}
	}
	em{
		font-size: 0.7rem;
		display:block;			
		margin:0.7rem 0; 
	}
}