.about--section{
	margin:100vh auto 0rem;
	color:$blue;
	 	
	&-phasis{
		
			&-logo{
				margin: 2rem auto;
				@include borderArrow;
				transform: rotateZ(45deg);
				background: $white; 	
				
				@include lightShadow(3, 3, 5, 3, $gray);
				i{
			 		transform: rotateZ(-45deg);
			 	}
			 	
			 	@include media(tabletPortrait){
			 		transform: rotateZ(-45deg);
			 		margin: 1rem auto;
			 		@include lightShadow(-2, 3, 5, 3, $gray);
					@include borderArrow;
					i{
				 		transform: rotateZ(45deg);
				 	}
			 	}
			}
			
	}

	&-skills{
		&-logo{
			@include lightShadow(0, 3, 5, 3, $gray);
			@include borderRadius(50%);
			position:relative;
			background-color:$white;
			&:after{
				content: "";
			    background-color: $blue;
			    position: absolute;
			    height: 5px;
			    top:45%;
			    left: 18px;
			    z-index: -1;	

			}
			@include media(tabletPortrait){
				margin: 1rem auto;
			}
		}
	}
	#skill-1:after{
		width: 250px;
	}	
	#skill-2:after{
	    width: 167px;
	}
	#skill-3:after{
	 	width: 54px;
	}
	@include media(tabletPortrait){
		@for $i from 1 through 100{
			@if $i % 2 == 0 { 
				#skill-#{$i}:after{
					transform: rotate(180deg);
					transform-origin: left;
				}	
		  	}
			
		}
	}	
}