@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,400,700);html,
body,
form,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Comfortaa';
  font-size: 17px;
  overflow-x: hidden;
  position: relative;
  height: 2000px;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 15px;
}

p {
  font-size: 14px;
}

b {
  font-weight: 700;
}

hr {
  width: 75%;
  border: 2px solid;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.smallCircle {
  width: 50px;
  height: 50px;
}

.bigCircle {
  width: 100px;
  height: 100px;
}

.text-center {
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 1rem;
  width: 10%;
}

aside {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 10%;
}

.mainSection {
  width: 100%;
}

.hero--section {
  width: 100%;
  height: 80vh;
  background-color: #3aa;
  overflow: hidden;
}

@media (min-width: 768px) {
  .hero--section {
    margin: -10% 0 0 -20%;
    height: 100vh;
    width: 150%;
    opacity: 0.8;
    /* IE 9 */
    -webkit-transform: rotateZ(-10deg);
    /* Chrome, Safari, Opera */
    transform: rotateZ(-10deg);
    -ms-transform: rotate(-10deg);
    /* IE 9 */
    -ms-transform-origin: center;
    /* IE 9 */
    -webkit-transform: rotate(-10deg);
    /* Chrome, Safari, Opera */
    -webkit-transform-origin: center;
    /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
    transform-origin: center;
    background-color: #3aa;
  }
}

@media (min-width: 1366px) {
  .hero--section {
    margin: -10% 0 0 -20%;
    height: 100vh;
    width: 150%;
    opacity: 0.8;
    /* IE 9 */
    -webkit-transform: rotateZ(-10deg);
    /* Chrome, Safari, Opera */
    transform: rotateZ(-10deg);
    -ms-transform: rotate(-10deg);
    /* IE 9 */
    -ms-transform-origin: center;
    /* IE 9 */
    -webkit-transform: rotate(-10deg);
    /* Chrome, Safari, Opera */
    -webkit-transform-origin: center;
    /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
    transform-origin: center;
    background-color: #3aa;
  }
}

@media (min-width: 0px) {
  .hero--section-content {
    /* IE 9 */
    -webkit-transform: rotateZ(0deg);
    /* Chrome, Safari, Opera */
    transform: rotateZ(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -ms-transform-origin: center;
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    -webkit-transform-origin: center;
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    transform-origin: center;
    margin: 5rem auto 0;
    width: 75%;
    color: #35a;
  }

  .hero--section-content h1 {
    font-size: 30px;
    color: #fff;
  }

  .hero--section-content h1 span {
    color: #35a;
  }

  .hero--section-content p {
    font-size: 25px;
  }
}

@media (min-width: 0px) {
  .hero--section-image img {
    width: 100%;
  }
}

.about--section {
  color: #35a;
}

@media (min-width: 0px) {
  .about--section-content {
    margin: 5rem auto 0;
    width: 75%;
  }
}

@media (min-width: 0px) {
  .about--section-phasis {
    margin: 5rem auto 0;
    width: 75%;
    text-align: center;
  }

  .about--section-phasis-logo {
    margin: 2rem auto;
    -webkit-border-radius: 50%;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius: 50%;
    -moz-border-radius-bottomright: 0px;
    border-radius: 50%;
    border-bottom-right-radius: 0px;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    background: #fff;
    -webkit-box-shadow: 3px 3px 15px 3px #aaa;
    box-shadow: 3px 3px 15px 3px #aaa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about--section-phasis-logo i {
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
  }
}

@media (min-width: 0px) {
  .about--section-skills {
    margin: 5rem auto 0;
    width: 75%;
    text-align: left;
  }

  .about--section-skills-logo {
    position: relative;
    margin: 2rem 0;
    background: #fff;
    -webkit-box-shadow: 0px 3px 15px 3px #aaa;
    box-shadow: 0px 3px 15px 3px #aaa;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about--section-skills-logo:after {
    content: "";
    background-color: #35a;
    position: absolute;
    height: 10px;
    top: 45%;
    width: 300px;
    z-index: -1;
  }

  .about--section-skills .skill-1:after {
    width: 300px;
  }

  .about--section-skills .skill-2:after {
    width: 270px;
  }

  .about--section-skills .skill-3:after {
    width: 70px;
  }
}

.hamburger {
  display: block;
  margin: 4px auto;
  background-color: #fff;
  width: 66%;
  height: 2px;
}

.scroll--balls {
  height: 25%;
  margin-top: 100px;
}

.scroll--balls .scroll--ball {
  display: block;
  -webkit-border-radius: 50%;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius: 50%;
  -moz-border-radius-bottomright: 0px;
  border-radius: 50%;
  border-bottom-right-radius: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0.5rem auto;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: 1px solid #35a;
}

.scroll--balls .scroll--ball.active {
  background-color: #3aa;
}

