@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,400,700);.smallCircle {
  width: 36px;
  height: 36px;
  font-size: 0.75rem;
}

.bigCircle {
  width: 100px;
  height: 100px;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .bigCircle {
    width: 75px;
    height: 75px;
  }
}

html,
body,
form,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Comfortaa';
  font-size: 17px;
  overflow-x: hidden;
  position: relative;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 15px;
}

p {
  font-size: 14px;
}

b {
  font-weight: 700;
}

hr {
  width: 75%;
  border: 1px solid #35a;
}

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 1rem;
}

header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 1rem;
  width: 10%;
}

aside {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 10%;
}

.mainSection {
  width: 100%;
  overflow: hidden;
}

.oneThird {
  margin: 4rem auto 1rem;
  overflow: hidden;
  margin-top: 100vh;
}

@media (min-width: 768px) {
  .oneThird {
    margin-top: 100vh;
  }
}

.oneThird--big {
  display: block;
  margin: 0 auto;
  width: 75%;
}

.oneThird--big--content {
  text-align: justify;
}

@media (min-width: 768px) {
  .oneThird--big {
    display: inline-block;
    width: 66%;
    float: left;
  }

  .oneThird--big--content {
    text-align: left;
    width: 320px;
    margin: 0 auto;
  }

  .oneThird--big--content hr {
    text-align: left;
  }
}

.oneThird--small {
  display: block;
  margin: 0 auto;
  width: 75%;
}

@media (min-width: 768px) {
  .oneThird--small {
    display: inline-block;
    width: 33%;
    float: left;
  }
}

.twoThird {
  margin: 4rem auto 1rem;
  overflow: hidden;
}

.twoThird--small {
  display: block;
  margin: 0 auto;
  width: 75%;
  background-color: #880;
}

@media (min-width: 768px) {
  .twoThird--small {
    display: inline-block;
    width: 33%;
    text-align: center;
    float: left;
  }
}

@media (min-width: 768px) {
  .twoThird--small-content {
    width: 200px;
    height: auto;
    margin: 0 auto;
  }
}

.twoThird--big {
  display: block;
  margin: 0 auto;
  width: 75%;
  background-color: #808;
}

@media (min-width: 768px) {
  .twoThird--big {
    display: inline-block;
    width: 66%;
    float: left;
  }
}

@media (min-width: 768px) {
  .twoThird--big-content {
    width: 90%;
    margin: 0 auto;
  }
}

.fullWidth {
  margin: 4rem auto 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 768px) {
  .fullWidth {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 75%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .fullWidth {
    width: 66%;
  }
}

.fullWidth--content {
  width: 75%;
  text-align: center;
}

@media (min-width: 768px) {
  .fullWidth--content {
    width: 100px;
  }
}

.sectionCenter {
  margin: 4rem auto 1rem;
  text-align: center;
  width: 100%;
}

.sectionCenter--content {
  display: block;
  margin: 0 auto;
  width: 75%;
  text-align: center;
}

.hero--section {
  position: absolute;
  top: -100px;
  left: -25%;
  width: 150%;
  height: 100vh;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  overflow: hidden;
  background: radial-gradient(#6fd4d4, #3aa);
}

@media (min-width: 1024px) {
  .hero--section {
    top: -100px;
  }
}

.hero--section-content {
  position: absolute;
  top: 34%;
  left: 26%;
  width: 50%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  text-align: center;
  color: #35a;
}

.hero--section-content span {
  color: #fff;
}

@media (min-width: 480px) {
  .hero--section-content {
    top: 40%;
    left: 26%;
    width: 50%;
  }
}

@media (min-width: 768px) {
  .hero--section-content {
    top: 33%;
    left: 48%;
    width: 25%;
  }
}

@media (min-width: 1024px) {
  .hero--section-content {
    top: 50%;
    left: 50%;
    width: 25%;
  }
}

.hero--section-image {
  position: absolute;
  top: 49%;
  left: 11%;
  width: 67%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

@media (min-width: 480px) {
  .hero--section-image {
    top: 48%;
    left: 33%;
    width: 37%;
  }
}

@media (min-width: 768px) {
  .hero--section-image {
    top: 20%;
    left: 15%;
    width: 45%;
  }
}

@media (min-width: 1024px) {
  .hero--section-image {
    top: 5%;
    left: 16%;
    width: 40%;
  }
}

@media (min-width: 1366px) {
  .hero--section-image {
    top: 15%;
    left: 15%;
    width: 41%;
  }
}

.about--section {
  margin-top: 100vh;
  color: #35a;
}

@media (min-width: 0px) {
  .about--section-phasis-logo {
    margin: 2rem auto;
    -webkit-border-radius: 50%;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius: 50%;
    -moz-border-radius-bottomright: 0px;
    border-radius: 50%;
    border-bottom-right-radius: 0px;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    background: #fff;
    -webkit-box-shadow: 3px 3px 15px 3px #aaa;
    box-shadow: 3px 3px 15px 3px #aaa;
  }

  .about--section-phasis-logo i {
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
  }
}

@media (min-width: 0px) and (min-width: 768px) {
  .about--section-phasis-logo {
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
    -webkit-box-shadow: 0px 3px 15px 3px #aaa;
    box-shadow: 0px 3px 15px 3px #aaa;
    -webkit-border-radius: 50%;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius: 50%;
    -moz-border-radius-bottomright: 0px;
    border-radius: 50%;
    border-bottom-right-radius: 0px;
  }

  .about--section-phasis-logo i {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
}

.about--section-skills-logo {
  -webkit-box-shadow: 0px 3px 15px 3px #aaa;
  box-shadow: 0px 3px 15px 3px #aaa;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
}

.about--section-skills-logo:after {
  content: "";
  background-color: #35a;
  position: absolute;
  height: 5px;
  top: 45%;
  left: 18px;
  z-index: -1;
}

@media (min-width: 768px) {
  .about--section-skills-logo {
    margin: 1rem auto;
  }
}

.about--section #skill-1:after {
  width: 250px;
}

.about--section #skill-2:after {
  width: 167px;
}

.about--section #skill-3:after {
  width: 54px;
}

@media (min-width: 768px) {
  .about--section #skill-2:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-4:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-6:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-8:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-10:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-12:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-14:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-16:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-18:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-20:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-22:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-24:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-26:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-28:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-30:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-32:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-34:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-36:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-38:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-40:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-42:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-44:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-46:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-48:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-50:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-52:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-54:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-56:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-58:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-60:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-62:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-64:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-66:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-68:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-70:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-72:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-74:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-76:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-78:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-80:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-82:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-84:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-86:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-88:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-90:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-92:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-94:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-96:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-98:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .about--section #skill-100:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
}

.hamburger {
  display: block;
  margin: 4px auto;
  background-color: #fff;
  width: 66%;
  height: 2px;
}

.scroll--balls {
  height: 25%;
  margin-top: 100px;
}

.scroll--balls .scroll--ball {
  display: block;
  -webkit-border-radius: 50%;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius: 50%;
  -moz-border-radius-bottomright: 0px;
  border-radius: 50%;
  border-bottom-right-radius: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0.5rem auto;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: 1px solid #35a;
}

.scroll--balls .scroll--ball.active {
  background-color: #3aa;
}

.flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

