@for $i from 3 through 1{
	.hamburgerLine-#{$i}{
		&.menuVisible{
			background-color: $blue;
		}
    }
}
.is-visible{
	opacity:1 !important;
}
.is-translatedX{
	transform: translateX(50px);
}
.is-translatedXReverse{
	transform: translateX(-50px);
}
.is-translatedY{
	transform: translateY(50px);
}
.is-enlarged{

	cursor:pointer;
	position: fixed;
	top:0rem;
	left:0rem;
	width: 100% !important;
	height: auto;
	z-index: 10;

	@include media(phoneLandscape){
		top:1rem;
		left:5%;
		width: 90% !important;
	}
	@include media(tabletLandscape){
		top:1rem;
		left:20%;
		width: 60% !important;
		height: auto;
		max-height: 90%;
	}

}
