@for $i from 3 through 1{
	.hamburgerLine-#{$i}{
		&.menuVisible{
			background-color: $blue;
		}
    }
}
.is-visible{
	opacity:1 !important;
}
.is-translatedX{
	transform: translateX(50px);
}
.is-translatedXReverse{
	transform: translateX(-50px);
}
.is-translatedY{
	transform: translateY(50px);
}